<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
<h1>Create student</h1>
<p>
    <a href="/student/list">Student list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/student/create}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>Student name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text" th:field="*{status}"/></td>
        </tr>
        <tr>
            <td>Number of book borrowed:</td>
            <td><input type="text" th:field="*{numberOfBook}"/></td>
        </tr>
        <tr>
            <td>Book:</td>
            <td>
                <select th:field="*{books}">
                    <option th:each="p : ${books}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create student"></td>
        </tr>
    </table>
</form>
</body>
</html>