<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete author</title>
</head>
<body>
<h1>Delete author</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/author/list">Author list</a>
</p>
<form th:action="@{/author/delete}" th:object="${author}" method="post" onsubmit="return((confirmDelete()))">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${author.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete author"></td>
        </tr>
    </table>
</form>
<script>
    function confirmDelete() {
        var result = confirm("Are you sure?");
        return result;
    }
</script>
</body>
</html>