<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<h1>Edit book</h1>
<p>
    <a href="/book/list">Book list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/book/edit}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Book title:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><input type="text" th:field="*{type}"/></td>
        </tr>
        <tr>
            <td>Page number:</td>
            <td><input type="text" th:field="*{pageNumber}"/></td>
        </tr>
        <tr>
            <td>Introduce:</td>
            <td><textarea rows="10" cols="40" type="text" th:field="*{introduce}"/></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" th:field="*{amount}"/></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td>
                <select name="author">
                    <option th:each="p : ${authors}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{author.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update book"></td>
        </tr>
    </table>
</form>
</body>
</html>